@import "variable.scss";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;900&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
}

html,
body {
  height: 100%;
  color: $black;
  background: $red;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: background $trans-normal;
}

::selection {
  color: $gold;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.none {
  display: none !important;
}

.no-show {
  opacity: 0 !important;
}

.text-red {
  color: $red !important;
}

.text-green {
  color: $green !important;
}

.text-gold {
  color: $gold !important;
}

.night {
  background: $black !important;
}

#app {
  width: 100%;
  // max-width: 1024px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;

  // for dailog
  position: relative;
}

.dailog-frame {
  width: 95%;
  max-width: 600px;
  height: auto;
  max-height: 95%;
  padding: 20px 5px 20px 25px;
  background: $white;
  border: 3px solid $black;
  border-radius: $radius-m;
  transition: opacity 0.15s;
  animation: fadeIn 0.15s;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;

  text-align: justify;
}

.dailog-container {
  width: 100%;
  height: auto;
  max-height: 650px;
  padding: 0 20px 0 0;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 3px;
    background: transparent;
  }

  &::-webkit-scrollbar-track {
    margin: 6px 0;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 13px;
    background: #3333;
  }
}

.dailog-close {
  width: 22px;
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  transition: $trans-text;

  &:hover {
    opacity: 0.75;
  }
}

.text-Top {
  color: $white;
  font-size: $fs-title-pc;
  letter-spacing: 2px;
  text-align: center;
  margin: 0 0 5%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width:1024px) {}

@media (max-width:767px) {
  #app {
    // max-width: 320px;
    // max-height: 568px;
  }

  .dailog-frame {
    width: 90vw;
    max-height: 95vh;
    padding: 20px 0px 20px 15px;
  }

  .dailog-container {
    width: 100%;
    height: auto;
    max-height: calc(95vh - 60px);
    padding: 0 15px 0 0;
  }

  .dailog-close {
    width: 18px;
    right: 3px;
    top: 3px;
  }

  .text-Top {
    font-size: $fs-title - 4px;
  }
}