@import "variable.scss";

#bg {
  width: 85%;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  opacity: 0.5;
  animation: bgShine 3s infinite alternate;
  pointer-events: none;
}

#setting {
  ::selection {
    color: $black;
  }

  .model {
    padding: 10px 10px;
    margin: 0 0 12px;
    border: 3px solid $black;
    border-radius: $radius-m;
    background: $green;
    color: $white;
    font-size: $fs-l;
    letter-spacing: 2px;
    line-height: 1.15;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &:nth-last-child(1) {
      margin: 0;
    }

    &:hover {
      background: $red;
    }
  }

  .model-character {
    font-size: $fs-ms;
  }

  .model-num {
    margin: 0 0 0 8px;
    white-space: nowrap;
  }
}

#giveCharacter {
  width: 100%;
  height: auto;

  .give-round {
    width: 400px;
    height: 400px;
    margin: 0 auto 5%;
    background: $white;
    border: 12px solid $black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    transition: $trans-normal;
  }

  .round-rotate {
    transform: rotateY(180deg) !important;
  }

  .text-rotate {
    transform: rotateY(180deg) translateY(-5px) !important;
  }

  .tips-rotate {
    transform: translateX(-50%) rotateY(180deg) !important;
  }

  .give-num,
  .give-character {
    font-weight: $fw-bolder;
    transform: translateY(-5px);
    transition: $trans-text;
  }

  .give-num {
    font-size: $fs-number-pc;
  }

  // 給身分的 class
  .give-character {
    font-size: $fs-title-pc;
  }

  .give-tips {
    font-size: $fs-m;
    opacity: 0.8;

    position: absolute;
    left: 50%;
    bottom: 25%;
    transform: translateX(-50%);
    white-space: nowrap;
  }
}

#gamming {
  width: 420px;
  max-width: 100%;

  .text-Top,
  .gamming-tips {
    cursor: default;
  }

  .gamming-tips {
    font-size: $fs-ml;
    text-align: center;
    color: $white;
    opacity: 0.8;
  }

  #gamming-number {
    width: 400px;
    max-width: 95%;
    height: auto;
    margin: 7% auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .number {
    width: 70px;
    height: 70px;
    margin: 0 20px 30px;
    font-size: $fs-xxl;
    font-weight: $fw-bold;
    background: $white;
    // border: 3px solid $black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: $trans-text;

    &:hover {
      background: $gold;
      color: $white;
    }
  }

  .dead {
    opacity: 0.1 !important;
    pointer-events: none !important;
  }

  #gamming-choose {
    margin: 10% 0 0;
    display: flex;
    justify-content: center;
  }

  .choose {
    padding: 2px 16px 6px;
    margin: 0 24px;
    font-size: $fs-xxl;
    font-weight: $fw-bold;
    background: $white;
    border-radius: $radius-m;
    cursor: pointer;
    transition: $trans-text;

    &:hover {
      background: $gold;
      color: $white;
    }
  }
}

@keyframes bgShine {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 0.75;
  }
}

@media (max-width:1024px) {
  #gamming {
    .gamming-tips {
      font-size: $fs-xl;
    }

    .number,
    .choose {
      &:hover {
        background: $white;
        color: $black;
      }
    }
  }
}

@media (max-width:767px) {
  #setting {
    .model {
      padding: 8px 10px;
      margin: 0 0 12px;
      border: 2px solid $black;
      font-size: $fs-ml;
      letter-spacing: 1px;
    }

    .model-character {
      font-size: $fs-s;
    }

    .model-num {
      font-size: $fs-ms;
    }
  }

  #giveCharacter {
    .give-round {
      width: 75vw;
      max-width: 320px;
      height: 75vw;
      max-height: 320px;
      border: 10px solid $black;
    }

    .give-num {
      font-size: $fs-number-phone;
    }

    .give-character {
      font-size: $fs-title;
    }

    .give-tips {
      bottom: 18%;
    }
  }

  #gamming {
    .gamming-tips {
      font-size: $fs-m;
    }

    #gamming-number {
      max-width: 75%;
    }

    .number {
      width: 50px;
      height: 50px;
      margin: 0 15px 30px;
      font-size: $fs-xl;
    }

    .choose {
      margin: 0 18px;
      font-size: $fs-xl;
    }
  }
}