$black: #282726;
$white: #fff;
$red: #A7414A;
$green:#6A8A82;
$gold: #A37C27;
$brown: #563838;

$fw-light: 300;
$fw-normal: 400;
$fw-bold: 500;
$fw-bolder: 900;

$fs-s: 12px;
$fs-ms: 14px;
$fs-m: 16px;
$fs-ml: 18px;
$fs-l: 21px;
$fs-xl: 23px;
$fs-title: 52px;
$fs-title-pc: 68px;

$radius-m: 13px;
$trans-text: 0.25s;