@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
}

body {
  height: 100%;
  color: #282726;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.none {
  display: none !important;
}
