#bg {
  width: 85%;
  position: absolute;
  left: 50%;
  top: 10%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0.5;
  -webkit-animation: bgShine 3s infinite alternate;
          animation: bgShine 3s infinite alternate;
  pointer-events: none;
}

#setting ::-moz-selection {
  color: #282726;
}

#setting ::selection {
  color: #282726;
}

#setting .model {
  padding: 10px 10px;
  margin: 0 0 12px;
  border: 3px solid #282726;
  border-radius: 13px;
  background: #6A8A82;
  color: #fff;
  font-size: 21px;
  letter-spacing: 2px;
  line-height: 1.15;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#setting .model:nth-last-child(1) {
  margin: 0;
}

#setting .model:hover {
  background: #A7414A;
}

#setting .model-character {
  font-size: 14px;
}

#setting .model-num {
  margin: 0 0 0 8px;
  white-space: nowrap;
}

#giveCharacter {
  width: 100%;
  height: auto;
}

#giveCharacter .give-round {
  width: 400px;
  height: 400px;
  margin: 0 auto 5%;
  background: #fff;
  border: 12px solid #282726;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#giveCharacter .round-rotate {
  -webkit-transform: rotateY(180deg) !important;
          transform: rotateY(180deg) !important;
}

#giveCharacter .text-rotate {
  -webkit-transform: rotateY(180deg) translateY(-5px) !important;
          transform: rotateY(180deg) translateY(-5px) !important;
}

#giveCharacter .tips-rotate {
  -webkit-transform: translateX(-50%) rotateY(180deg) !important;
          transform: translateX(-50%) rotateY(180deg) !important;
}

#giveCharacter .give-num,
#giveCharacter .give-character {
  font-weight: 900;
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

#giveCharacter .give-num {
  font-size: 105px;
}

#giveCharacter .give-character {
  font-size: 64px;
}

#giveCharacter .give-tips {
  font-size: 16px;
  opacity: 0.8;
  position: absolute;
  left: 50%;
  bottom: 25%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  white-space: nowrap;
}

#gamming {
  width: 420px;
  max-width: 100%;
}

#gamming .text-top,
#gamming #gamming-tips {
  cursor: default;
}

#gamming #gamming-tips {
  font-size: 18px;
  text-align: center;
  color: #fff;
  opacity: 0.8;
}

#gamming #gamming-number {
  width: 400px;
  max-width: 95%;
  height: auto;
  margin: 7% auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#gamming .number {
  width: 70px;
  height: 70px;
  margin: 0 20px 30px;
  font-size: 32px;
  font-weight: 500;
  background: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

#gamming .number:hover {
  background: #A37C27;
  color: #fff;
}

#gamming .dead {
  opacity: 0.1 !important;
  pointer-events: none !important;
}

#gamming #gamming-choose {
  margin: 10% 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#gamming .choose {
  padding: 2px 16px 6px;
  margin: 0 24px;
  font-size: 32px;
  font-weight: 500;
  background: #fff;
  border-radius: 13px;
  cursor: pointer;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

#gamming .choose:hover {
  background: #A37C27;
  color: #fff;
}

#gamming #gamming-function,
#gamming #gamming-next {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2px 12px 4px;
  margin: 6% auto;
  border: 3px solid #282726;
  border-radius: 13px;
  font-size: 23px;
  font-weight: 500;
  color: #fff;
  background: #fff;
  cursor: pointer;
}

#gamming #gamming-function::-moz-selection,
#gamming #gamming-next::-moz-selection {
  color: #282726;
}

#gamming #gamming-function::selection,
#gamming #gamming-next::selection {
  color: #282726;
}

#gamming #gamming-function {
  background: #A37C27;
}

#gamming #gamming-next {
  background: #6A8A82;
}

@-webkit-keyframes bgShine {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.75;
  }
}

@keyframes bgShine {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.75;
  }
}

@media (max-width: 1024px) {
  #gamming #gamming-tips {
    font-size: 23px;
  }
  #gamming .number:hover,
  #gamming .choose:hover {
    background: #fff;
    color: #282726;
  }
}

@media (max-width: 767px) {
  #setting .model {
    padding: 8px 10px;
    margin: 0 0 12px;
    border: 2px solid #282726;
    font-size: 18px;
    letter-spacing: 1px;
  }
  #setting .model-character {
    font-size: 12px;
  }
  #setting .model-num {
    font-size: 14px;
  }
  #giveCharacter .give-round {
    width: 75vw;
    max-width: 320px;
    height: 75vw;
    max-height: 320px;
    border: 10px solid #282726;
  }
  #giveCharacter .give-num {
    font-size: 88px;
  }
  #giveCharacter .give-character {
    font-size: 52px;
  }
  #giveCharacter .give-tips {
    bottom: 18%;
  }
  #gamming #gamming-tips {
    font-size: 16px;
  }
  #gamming #gamming-number {
    max-width: 75%;
  }
  #gamming .number {
    width: 50px;
    height: 50px;
    margin: 0 15px 30px;
    font-size: 23px;
  }
  #gamming .choose {
    margin: 0 18px;
    font-size: 23px;
  }
}
